<%- include('../partials/header') %>
    <section id="journal-page">
        <div>Activity: </div>
        <div><%= activity.activity %></div>
        <div>Activity type: </div>
        <div><%= activity.activityType %></div>
        <div>Days: </div>
        <div><%= activity.day %></div>
        <div>Target time: </div>
        <div><%= activity.time %> minutes</div>
        <div>Recorded goal: </div>
        <div><%= activity.recordedGoal ? 'Yes' : 'Nope' %></div>
    </section>
    <a href="/activities/<%=activity._id%>/edit">Edit</a>
    <div></div>

    <!-- user enters journal here -->
    <form id="add-journal" method="POST" action="/activities/<%= activity._id %>">
        <label>Journal entry:</label>
        <textarea name="journalEntry"></textarea>
        <input type="submit" value="Add journal entry">
    </form>
    
<%- include('../partials/footer') %>